In [1]:
import pandas as pd

In [5]:
df_1 = pd.read_csv('gojek.csv')
df_2 = pd.read_csv('tokopedia.csv')
df_3 = pd.read_csv('mobilelegends.csv')
df_4 = pd.read_csv('whatsapp.csv')

In [11]:
# Dengan filter
df_1 = df_1.filter(items=['content', 'score'])
df_2 = df_2.filter(items=['content', 'score'])
df_3 = df_3.filter(items=['content', 'score'])
df_4 = df_4.filter(items=['content', 'score'])

In [12]:
df_1.head()

                                             content  score
0                            akun gopay saya di blok      1
1  Lambat sekali sekarang ini bosssku apk gojek g...      3
2  Kenapa sih dari kemarin sy buka aplikasi gojek...      4
3  Baru download gojek dan hape baru trus ditop u...      1
4                                             Mantap      5

In [13]:
df_2.head()

                                             content  score
0                Sukses dan makin berkembang selalu.      5
1                                              niceðŸ¥°      5
2          TikTodPedia sekarang pelit gak kayak dulu      1
3                                                 ok      5
4  menurut sya kekurangannya dri ekspedisi yg gak...      4

In [14]:
df_3.head()

                                             content  score
0                                         Game bagus      5
1  Moonton oon masa gw main kalah mulu gak solo g...      2
2                                   Keren banget coy      5
3                                                Yah      5
4                                                Oke      5

In [15]:
df_4.head()

                                           content  score
0                                            Keren      5
1  Terima foto yang bukan HD jadi buram gambarnya.      3
2                                 Sy suka merantau      3
3                         Kok Sya Gabisa Bru wa ka      5
4                                      Sangat baik      5

In [17]:
# Membuat fungsi untuk kategorisasi sentimen
def categorize_sentiment(score):
  if score >= 4:
    return 'Positif'
  elif score == 3:
    return 'Netral'
  else:
    return 'Negatif'

In [18]:
# Kategorisasi sentimen untuk semua dataset
for df in [df_1, df_2, df_3, df_4]:
  df['sentiment'] = df['score'].apply(categorize_sentiment)

# Menganalisis sentimen untuk setiap dataset
for df, label in zip([df_1, df_2, df_3, df_4], ['Dataset 1', 'Dataset 2', 'Dataset 3', 'Dataset 4']):
  # Jumlah masing-masing skor
  score_counts = df['score'].value_counts().sort_index()
  print(f"\n**{label}: Jumlah Masing-Masing Skor**")
  print(score_counts)

**Dataset 1: Jumlah Masing-Masing Skor**
score
1     45229
2      8942
3      9460
4     14316
5    147055
Name: count, dtype: int64

**Dataset 2: Jumlah Masing-Masing Skor**
score
1     74
2      5
3      9
4      9
5    102
Name: count, dtype: int64

**Dataset 3: Jumlah Masing-Masing Skor**
score
1    79
2    18
3     4
4    12
5    86
Name: count, dtype: int64

**Dataset 4: Jumlah Masing-Masing Skor**
score
1     45
2      6
3     18
4     21
5    109
Name: count, dtype: int64

In [19]:
# Menganalisis sentimen untuk setiap dataset
for df, label in zip([df_1, df_2, df_3, df_4], ['Dataset 1', 'Dataset 2', 'Dataset 3', 'Dataset 4']):
  # Jumlah masing-masing sentimen
  sentiment_counts = df['sentiment'].value_counts()
  print(f"\n**{label}: Jumlah Masing-Masing Sentimen**")
  print(sentiment_counts)

**Dataset 1: Jumlah Masing-Masing Sentimen**
sentiment
Positif    161371
Negatif     54171
Netral       9460
Name: count, dtype: int64

**Dataset 2: Jumlah Masing-Masing Sentimen**
sentiment
Positif    111
Negatif     79
Netral       9
Name: count, dtype: int64

**Dataset 3: Jumlah Masing-Masing Sentimen**
sentiment
Positif    98
Negatif    97
Netral      4
Name: count, dtype: int64

**Dataset 4: Jumlah Masing-Masing Sentimen**
sentiment
Positif    130
Negatif     51
Netral      18
Name: count, dtype: int64

In [20]:
# Gabungkan dataset
combined_df = pd.concat([df_4, df_2, df_3])

filtered_df = combined_df.query("score == 1 or score == 2 or score == 3")

# Atau dengan loc
# filtered_df = combined_df.loc[combined_df['score'].isin([1, 2, 3])]

# Simpan ke file CSV
filtered_df.to_csv('data_tambahan.csv', index=False)

In [22]:
df = pd.read_csv('data_tambahan.csv')

In [23]:
df.head()

                                             content  score sentiment
0    Terima foto yang bukan HD jadi buram gambarnya.      3    Netral
1                                   Sy suka merantau      3    Netral
2                                    Napa WA aku ini      1   Negatif
3  ga jelas!!!! skrg status wa orang-orang ngacak...      1   Negatif
4                              Knpa Tdak Bisa Update      1   Negatif

In [24]:
df_1.head()

                                             content  score sentiment
0                            akun gopay saya di blok      1   Negatif
1  Lambat sekali sekarang ini bosssku apk gojek g...      3    Netral
2  Kenapa sih dari kemarin sy buka aplikasi gojek...      4   Positif
3  Baru download gojek dan hape baru trus ditop u...      1   Negatif
4                                             Mantap      5   Positif

In [25]:
# Menggabungkan kedua DataFrame
df_combined = pd.concat([df_1, df])
df_combined.to_csv('combined_data.csv', index=False)

In [26]:
df = pd.read_csv('combined_data.csv')

In [27]:
df

                                                  content  score sentiment
0                                 akun gopay saya di blok      1   Negatif
1       Lambat sekali sekarang ini bosssku apk gojek g...      3    Netral
2       Kenapa sih dari kemarin sy buka aplikasi gojek...      4   Positif
3       Baru download gojek dan hape baru trus ditop u...      1   Negatif
4                                                  Mantap      5   Positif
...                                                   ...    ...       ...
225255  Napa sih selalu aja kasih gua tim yang nuubb s...      1   Negatif
225256           Dark moonton sistem kurang kurangi lah,,      1   Negatif
225257  Monnton knp gue mau honor selalu dpt dark sist...      1   Negatif
225258  Game aneh dari tadi solo temen gw main kayak b...      1   Negatif
225259                      Ni game nambah dosa gua anjim      1   Negatif

[225260 rows x 3 columns]

In [31]:
# Memeriksa distribusi awal
print("Distribusi awal label sentiment:")
print(df['sentiment'].value_counts())

Distribusi awal label sentiment:
sentiment
Positif    161371
Negatif     54398
Netral       9491
Name: count, dtype: int64

In [32]:
# Menentukan jumlah label yang akan dipertahankan untuk label 'Positif'
num_negatif = df[df['sentiment'] == 'Negatif'].shape[0]
num_netral = df[df['sentiment'] == 'Netral'].shape[0]

print(f"Jumlah label Negatif: {num_negatif}")
print(f"Jumlah label Netral: {num_netral}")

Jumlah label Negatif: 54398
Jumlah label Netral: 9491

In [33]:
# Mengambil sampel dari data berlabel 'Positif' sebanyak jumlah label 'Negatif'
df_positif = df[df['sentiment'] == 'Positif'].sample(n=num_negatif, random_state=42)

# Memeriksa jumlah sampel yang diambil
print("Jumlah sampel yang diambil untuk label Positif:")
print(df_positif['sentiment'].value_counts())

Jumlah sampel yang diambil untuk label Positif:
sentiment
Positif    54398
Name: count, dtype: int64

In [34]:
# Mengambil semua data berlabel 'Negatif' dan 'Netral'
df_negatif = df[df['sentiment'] == 'Negatif']
df_netral = df[df['sentiment'] == 'Netral']

# Menggabungkan kembali data yang sudah di-undersample
df_balanced = pd.concat([df_positif, df_negatif, df_netral])

# Memeriksa distribusi baru
print("Distribusi baru label sentiment setelah undersampling:")
print(df_balanced['sentiment'].value_counts())

Distribusi baru label sentiment setelah undersampling:
sentiment
Positif    54398
Negatif    54398
Netral      9491
Name: count, dtype: int64

In [35]:
# Simpan DataFrame yang sudah seimbang ke dalam file CSV
df_balanced.to_csv('df_balanced.csv', index=False)

In [37]:
df = pd.read_csv('df_balanced.csv')